/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #0A393F;
}

.lang-switcher button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #fff;
  color: #0A393F;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.social-links img {
  width: 28px;
  height: 28px;
  filter: invert(100%);
}

.social-links img:hover {
  filter: invert(60%) sepia(90%) saturate(500%) hue-rotate(300deg);
}
